extends layout

block content
  a#intro(href="https://news.ycombinator.com/item?id=24135032") #[i.fab.fa-hacker-news] #[strong Learn more] on Hacker News

  #shore
    != svg('public/images/shore.svg', 'shore')

  #parent
    #logo-p
      #logo-shadow
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
      #logo-drop
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
      #logo
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
      #lifeboat lifeboat
    #sea-parent
      != svg('public/images/boat.svg', 'sea')

  #companies
    .add-company
      h3 #MozillaLifeboat
      p Mozilla has recently done two rounds of layoffs (#[a(href="https://techcrunch.com/2020/01/15/mozilla-lays-off-70-as-it-waits-for-subscription-products-to-generate-revenue/") first] and #[a(href="https://www.theverge.com/2020/8/11/21363424/mozilla-layoffs-quarter-staff-250-people-new-revenue-focus") second]), which has affected some of the most talented people I've been lucky enough to befriend and work with.
      p Mozillians are everywhere! It doesn't matter if you're a former employee, contributor or simply a fan &mdash; if you're looking for a new home, start with this list of Mozillians actively hiring kind, passionate, awesome humans.
      h3 Other Resources
      p A great place to find more people hiring and looking is the #[a(href="https://twitter.com/search?q=%23mozillalifeboat") #mozillalifeboat] hashtag on Twitter.
      h3 Add Your Company
      p Are you a Mozilla alumni looking to hire someone recently laid off?
      a#add-your-company.chunky(href="https://www.facebook.com/groups/102874566502850/permalink/1878469872276635/") Add your company
      #howto
        strong How to add your company
        p This is for Mozilla's alumni network to post jobs! If you're in the group, it includes the form to #[a(href='https://www.facebook.com/groups/102874566502850/permalink/1878469872276635/') submit a company]. If you're an alumni but you're not in the FB group, you can #[a(href="mailto:gkoberger@gmail.com") email me] and I'll send you the form.
        p And if you're not an alumni, try reaching out to people in the list at the bottom of this page or checking #[a(href="https://twitter.com/search?q=%23mozillalifeboat") #mozillalifeboat]!
    for c in data
      if c["Company Name"]
        .company
          .c-logo
            if getImage(c)
              img(src=getImage(c))
            else
              h2!= c['Company Name']
          h3 What #{c['Company Name']} does
          p.desc!= c['Company Description']
          //h3 How #{c['Company Name']} is like Mozilla
          //p.desc!= c["Why It's Like Mozilla"]
          h3 What #{c['Company Name']} is hiring for
          p.desc!= c["Types of Jobs"]

          p.contact Mozillian contact is #[a(href=getLink(c))= c['Mozilla Alumni Name']]

          if c['Alumni-founded?'] || c['Remote Friendly?']
            div.flags
              if c['Alumni-founded?']
                .alumni Mozilla-founded
              if c['Remote Friendly?']
                .remote Remote friendly
          .careers-pad
            .careers-parent
              a.careers(href=c['Careers Page URL']) View Open Jobs

  #looking
    != svg('public/images/ls.svg', 'ls')
    h2 People Looking For Work
    p This is a list of awesome Mozillians looking for their next home!
    a#add(href="https://talentdirectory.mozilla.org/") View the Full Site
    br
    br
    br
    iframe(src="https://talentdirectory.mozilla.org/" style="width: 100%;border: 0 none;height: 900px;")

  footer
    p This is an unofficial directory made by #[a(href="https://gkoberger.com") Gregory Koberger].
    p It's been over 8 years since I left Mozilla, but it's where I started my career and will always mean a lot to me. It's a special place with amazing employees and a huge alumni network. If you're hiring, I can't recommend Mozillians enough. #[i.fas.fa-heart]


