extends layout

block content
  #intro Connecting Mozilla Alumni who are hiring with Mozillans who are looking
  #shore
    != svg('public/images/shore.svg', 'shore')

  #parent
    #logo-p
      #lifeboat Lifeboat
      != svg('public/images/ls.svg', 'ls')
      #logo-shadow
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
      #logo-drop
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
      #logo
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
    != svg('public/images/boat.svg', 'sea')

  #companies
    .add-company
      h3 #MozillaLifeboat
      p Mozilla recently laid off 250 employees. Mozilla Lifeboat helps connect Mozillians looking for jobs with people in the Mozilla Alumni network who are hiring.
      h3 Add Your Company
      p Are you a Mozilla alumni looking to hire someone recently laid off?
      a(href="") Add your company
    for c in data
      if c["Company Name"]
        .company
          .c-logo
            if getImage(c)
              img(src=getImage(c))
            else
              != c['Company Name']
          h3 What #{c['Company Name']} does
          p.desc!= c['Company Description']
          //h3 How #{c['Company Name']} is like Mozilla
          //p.desc!= c["Why It's Like Mozilla"]
          h3 What #{c['Company Name']} is hiring for
          p.desc!= c["Types of Jobs"]
          p.contact Alumni contact is #[a(href=c['Mozilla Alumni Contact'])= c['Mozilla Alumni Name']]
          .careers-pad
            .careers-parent
              a.careers(href=c['Careers Page URL']) View Open Jobs
  footer An unofficial directory by ex-Mozillian #[a(href="https://gkoberger.com") Gregory Koberger]

