extends layout

block content
  #intro Connecting Mozilla Alumni who are hiring with Mozillans who are looking

  #shore
    != svg('public/images/shore.svg', 'shore')

  #parent
    #logo-p
      #lifeboat lifeboat
      #logo-shadow
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
      #logo-drop
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
      #logo
        .logo.l1 #[span m]
        .logo.l2 #[span o]
        .logo.l3 #[span z]
        .logo.l4 #[span :]
        .logo.l5 #[span /]
        .logo.l6 #[span /]
        .logo.l7 #[span a]
    != svg('public/images/boat.svg', 'sea')

  #companies
    .add-company
      h3 #MozillaLifeboat
      p Mozilla has recently done two rounds of layoffs (#[a(href="https://techcrunch.com/2020/01/15/mozilla-lays-off-70-as-it-waits-for-subscription-products-to-generate-revenue/") first] and #[a(href="https://www.theverge.com/2020/8/11/21363424/mozilla-layoffs-quarter-staff-250-people-new-revenue-focus") second]), including some of the most talented people I've been lucky enough to befriend and work with.
      p Mozilla is full of people who are passionate, kind and smart &mdash; and all deserve an amazing new home. Mozilla Lifeboat helps connect all Mozillians (laid off or otherwise) with companies that want to hire them.
      h3 Other Resources
      p A great place to find more people hiring and looking is the #[a(href="https://twitter.com/search?q=%23mozillalifeboat") #mozillalifeboat] hashtag on Twitter.
      h3 Add Your Company
      p Are you a Mozilla alumni looking to hire someone recently laid off?
      a#add-your-company.chunky(href="https://www.facebook.com/groups/102874566502850/permalink/1878469872276635/") Add your company
      #howto
        strong How to add your company
        p This is for Mozilla's alumni network to post jobs! If you're in the group, it includes the form to #[a(href='https://www.facebook.com/groups/102874566502850/permalink/1878469872276635/') submit a company]. If you're an alumni but you're not in the FB group, you can #[a(href="mailto:gkoberger@gmail.com") email me]. And if you're not an alumni, try reaching out to people in the list at the bottom of this page!
    for c in data
      if c["Company Name"]
        .company
          .c-logo
            if getImage(c)
              img(src=getImage(c))
            else
              h2!= c['Company Name']
          h3 What #{c['Company Name']} does
          p.desc!= c['Company Description']
          //h3 How #{c['Company Name']} is like Mozilla
          //p.desc!= c["Why It's Like Mozilla"]
          h3 What #{c['Company Name']} is hiring for
          p.desc!= c["Types of Jobs"]
          p.contact Alumni contact is #[a(href=getLink(c))= c['Mozilla Alumni Name']]
          .careers-pad
            .careers-parent
              a.careers(href=c['Careers Page URL']) View Open Jobs

  #looking
    != svg('public/images/ls.svg', 'ls')
    h2 People Looking For Work
    p This is a list of awesome Mozillians looking for their next home!
    a#add(href="https://airtable.com/shrba7HVTLgAgspTb") #[strong Job Hunting?] Add Yourself
    p.everyone You don't need to have been part of the layoffs, just part of Mozilla!
    br
    br
    br

    iframe(class="airtable-embed" src="https://airtable.com/embed/shrSGc5X6d2wRTuOo?backgroundColor=yellow&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;")

  footer An unofficial directory by ex-Mozillian #[a(href="https://gkoberger.com") Gregory Koberger]

