doctype html
html
  head
    title Mozilla Lifeboat
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Fira+Sans:wght@300,400&display=swap" rel="stylesheet")

    link(rel="stylesheet", href=`/stylesheets/style.css?${cache}`)

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    meta(property="og:image" content=`https://mozillalifeboat.com/images/social.png?${cache}`)
    meta(property="og:image:secure_url" content=`https://mozillalifeboat.com/images/social.png?${cache}`)
  body(id='pg-' + pg)
    block content

    script(src="/javascripts/jquery.min.js")
    script(src=`/javascripts/utils.js?${cache}`)
    script(src=`/javascripts/script.js?${cache}`)
